<h1>Articles ({{$ctrl.articles && $ctrl.articles.length || 0}})</h1>
<a ui-sref="add">Add</a>
<page-buttons page="$ctrl.page" length="$ctrl.articles.length"></page-buttons>
<ul>
    <li ng-repeat="article in $ctrl.articles | customPagination: $ctrl.currentPage() | limitTo: 5">
        <article
            title="{{article.title}}"
            content="{{article.content}}"
            image="{{article.image}}"
            author="{{article.author}}"
            date="article.date"
        ></article>
        <hr />
    </li>
</ul>
<page-buttons page="$ctrl.page" length="$ctrl.articles.length"></page-buttons>