.page-buttons {
    margin: 10px 0;
    
    button {
        width: 100px;
        border: 0;
        background: #3e7;
        padding: 5px 10px;
        cursor: pointer;
        margin-right: 10px;
        transition: background-color 200ms;
        
        &:hover,
        &:focus {
            background-color: #2d6;
        }
    }
}